@import './fonts/font.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 14, 44);
}

button {
  width: 200px;
  height: 50px;
  background: none;
  border: 3px solid #f2c623;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
}

span,
svg {
  font-family: iranSans, Yekan !important;
  position: absolute;
  color: #f2c623;
  fill: transparent;
  font-size: 20px;
}

button:hover {
  font-size: 14px;
}

button:focus {
  outline: none;
  border: 2px solid transparent;
  width: 50px;
  border-left: 2px solid #f2c623;
  
  animation: spin 2s 500ms forwards;
}

button:focus span {
  color: transparent;
}
button:focus svg {
  animation: check 500ms 2300ms forwards;
}

@keyframes spin {
  80% {
    border: 2px solid transparent;
    border-left: 2px dashed #f2c623;
  }
  100% {
    transform: rotate(1080deg);
    border: 2px solid #f2c623;
  }
}

@keyframes check {
  to {
    fill: #f2c623;
  }
}

@keyframes circle {
  to {
    border: 2px solid #f2c623;
  }
}
