.DS_Store
node_modules
/dist

/public/uploads
/public/downloads
/public/temps
/public/statics/image

package-lock.json

# local env File
.env.local
.env.*.local
.env
# Log File
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and File
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
